@model IEnumerable<EasyBilling.Models.Products_For_Sale>

@{
    ViewBag.Title = "awatingapproval";
}

<h2>Awating for approval</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pieces)
        </th>
     
        <th>
            @Html.DisplayNameFor(model => model.Tyre_Size)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Supplier_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        
      
        <th>
            @Html.DisplayNameFor(model => model.Administrator_name)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Approve)
        </th>
       
        @*<th>
            @Html.DisplayNameFor(model => model.Product.Product_Code)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pieces)
        </td>
        @foreach (var i in @ViewBag.tyresize)
        {
            if (i.Token_number == item.Tyre_Size)
            {
                <td>
                    @i.Tyre_size1
                </td>
            }
        }


        <td>
            @Html.DisplayFor(modelItem => item.Supplier_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.Administrator_name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Approve)
        </td>

        @*<td>
            @Html.DisplayFor(modelItem => item.Product.Product_Code)
        </td>*@
        <td>
            @Html.ActionLink("Approve", "Approve", new { id = item.Token_Number }) |
            @Html.ActionLink("Reject", "Reject", new { id = item.Token_Number }) |
          
        </td>
    </tr>
}

</table>
