@model EasyBilling.Models.Marchent_Account

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Marchent_Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="hidden">
            @Html.DisplayNameFor(model => model.Token_number)
        </dt>

        <dd class="hidden">
            @Html.DisplayFor(model => model.Token_number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Marchent_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marchent_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GSTIN_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GSTIN_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CIN_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CIN_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UIN_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UIN_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pan_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pan_Number)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Verification_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Verification_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stcd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stcd)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
