@model EasyBilling.Models.Tyre_size

@{
    ViewBag.Title = "Details";
}

<h2>Details of tyre size</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tyre_size1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tyre_size1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.With_tube)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.With_tube)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Update", new { id = Model.Token_number }) |
    @Html.ActionLink("Back to List", "Index")
</p>
