@model IEnumerable<EasyBilling.Models.Proprietor>

@{
    ViewBag.Title = "Index";
}

<h2>Proprietor list</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Proprietor_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pan_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Verification_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Proprietor_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pan_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Verification_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { id=item.Token_number }) |
            @Html.ActionLink("Details", "Details", new { id=item.Token_number }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Token_number })
        </td>
    </tr>
}

</table>
