
@model EasyBilling.Models.Customer_shipping_address


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
<!--//tags -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="~/UI styles/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/UI styles/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/UI styles/css/font-awesome.css" rel="stylesheet">
<!--pop-up-box-->
<link href="~/UI styles/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
<!--//pop-up-box-->
<!-- price range -->
<link rel="stylesheet" type="text/css" href="~/UI styles/css/jquery-ui1.css">
<!-- fonts -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">

<script src="http://code.jquery.com/jquery-1.7.1.min.js" type="text/javascript"></script>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<!-- top-header -->
<div class="header-most-top w3-animate-right" style="background:linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);">
    <div style="text-align:center">
        
        <h4><b style="color:black"><u>Shipping Journey </u> &nbsp;<img style="text-align:center;" src="~/Images/confirm-banner._CB138348962_.gif" /></b></h4>
    </div>
    
</div>



<!-- page -->
<div class="services-breadcrumb w3-animate-left">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                @if (@ViewBag.error != null)
                {
                <li>
                    <b style="font-size:21px;font-weight:bold!important;font-family:Arial,sans-serif;color:orangered">  @ViewBag.error </b>
                    </li>
                }
                <li>
                    <b style="font-size:21px;font-weight:bold!important;font-family:Arial,sans-serif"> Review your order</b>

                </li>
                <br />
                <li>
                    <b style="font-size:11px;font-family:Arial,sans-serif"> By clicking on the 'Place Your Order and Pay' button, you agree to Kadambari.com's privacy notice and conditions of use. </b>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- //page -->
<!-- top Products -->

<div class="" style="background-color:white">
    <br />
    <div class="container" style="padding-bottom:10px">



        <!-- //product left -->
        <!-- product right -->
        <div class="agileinfo-ads-display col-md-9 w3l-rightpro">
            <div class="wrapper" id="wrapper">

                <div class="product-sec1">

                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 product-men  w3-animate-left" style="font-family:Arial,sans-serif;font-size:15px;line-height:19px">
                        <div><strong><u>Shipping Address</u> <span><a href="http://localhost:8087/Billing/DeliveryAddress?v=@ViewBag.tkn">Change</a></span></strong></div>

                        <ul style="list-style-type:none">
                         
                            <li>
                                <span>@Model.First_name</span> <span>@Model.Last_name</span>

                            </li>

                            <li>
                                <span>
                                    @Model.Address_Line1
                                </span>
                            </li>
                            @if (Model.Address_Line2 != "")
                            {
                                <li>
                                    <span>@Model.Address_Line2</span>
                                </li>

                            }

                            <li>
                                <span>@Model.Town_City,</span>  <span>@Model.State-</span>  <span>@Model.Pin_code</span>
                            </li>
                            <li>
                                <span>India</span>
                            </li>
                            <li>
                                <span>@Model.Phone_number</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 product-men  w3-animate-left" style="font-family:Arial,sans-serif;font-size:15px;line-height:19px">
                        <div><strong><u>Payment method</u></strong></div>
                        

                        <ul style="list-style-type:none">

                            <li>

                                <span>@ViewBag.payment</span>
                            </li>


                        </ul>
                    </div>


                    <div class="clearfix"></div>
                </div>


            </div>
        </div>
        <div class="side-bar col-md-3 w3-animate-right" style="box-shadow:0px 0px 15px 0px #D6D6D6;font-family:Arial,sans-serif;font-size:15px;line-height:19px;padding:0px 20px 0px 20px">
            <div class="search-hotel">

                <div class="col-md-12" style="text-align:center;border-radius:4px;padding:0px 0px 10px 0px">
                    @if (@ViewBag.pod == "1")
                    {
                        if (@ViewBag.tkn != null)
                        {
                            <a href="http://localhost:8087/Billing/PlaceOrderSuccess?v=@ViewBag.tkn&&pymth=POD&&usr=@ViewBag.isuser">
                                <button type="button" style="background-color:#f3d078; width:100%;height:80%;text-align:center;margin:0;border:0;font-family:Arial,sans-serif">Place your order </button>
                            </a>
                        }
                        else
                        {
                            <a href="http://localhost:8087/Billing/PlaceOrderSuccess?v=crt&&pymth=POD&&usr=@ViewBag.isuser">
                                <button type="button" style="background-color:#f3d078; width:100%;height:80%;text-align:center;margin:0;border:0;font-family:Arial,sans-serif">Place your order </button>
                            </a>
                        }
                    }
                    else
                    {

                        <form method="post" action="@System.Configuration.ConfigurationManager.AppSettings["PaymentSubmiturl"]" id="target">
                            @{

                                <input type="hidden" name="cmd" value="_xclick" />

                                <input type="hidden" name="upload" value="1" />
                                <input type="hidden" name="business" value="@System.Configuration.ConfigurationManager.AppSettings["PaymentUsername"]" />

                                <input type="hidden" name="item_name" value="tyre Items" />

                                @*<input type="hidden" name="currency_code" value="INR" />*@
                                if (@ViewBag.itemcart != null)
                                {
                                    <input type="hidden" name="amount" value="@ViewBag.itemcart" />

                                }
                                if (@ViewBag.item != null)
                                {

                                    var item = @ViewBag.item;
                                    <input type="hidden" name="amount" value="@item.Total" />

                                }
                                @*<input type="hidden" name="first_name" value="@Model.First_name" />
                    <input type="hidden" name="last_name" value="@Model.Last_name" />
                    <input type="hidden" name="address1" value="@Model.Address_Line1" />
                    <input type="hidden" name="address2" value="@Model.Address_Line2" />

                    <input type="hidden" name="city" value="@Model.Town_City" />
                    <input type="hidden" name="state" value="@Model.State" />

                    <input type="hidden" name="zip" value="@Model.State" />
                    <input type="hidden" name="country" value="India" />*@
                                <input type="hidden" name="cancel_return" value="http://localhost:8087/Billing/DeliveryAddress?v=@ViewBag.tkn" />
                                @*<input type="hidden" name="returnurl" value="http://localhost:8087/Billing/DeliveryAddress?v=@ViewBag.tkn" />*@

                                <input type="hidden" name="return" value="http://localhost:8087/Billing/PlaceOrderSuccess?v=@ViewBag.tkn&&pymth=PAYPAL&&usr=@ViewBag.isuser" />
                                @*<input type="hidden" name="lc" value="test lc country" />*@

                                <div class="form-actions no-color">
                                    @*<p><i class="glyphicon glyphicon-usd"></i><input type="submit" value="Pay" class="btn btn-default" /></p>*@

                                    <button type="button" onclick="myFunction()" style="background-color:#f3d078; width:100%;height:80%;text-align:center;margin:0;border:0;font-family:Arial,sans-serif">Place your order </button>
                                </div>
                            }
                        </form>
                        <script>
function myFunction() {
 $( "#target" ).submit();

}
                        </script>
                    }
                </div>
                <div class="col-md-12" style="padding-bottom:5px"><strong><u>Order Summary</u></strong></div>
                @{

                    if (@ViewBag.item != null)
                    {

                        var item = @ViewBag.item;
                        <div class="col-md-12" style="padding-bottom:5px">

                            <ul style="list-style-type:none">

                                <li>
                                    <div style="float:left"> Total:</div>

                                    <span style="float:right">@item.Total</span>
                                </li>

                            </ul>
                        </div>

                        <div class="col-md-12" style="padding-bottom:5px;font-size:17px;color:#b12704">
                            <hr />
                            <strong  style="float:left">Order Total</strong>
                            <strong  style="float:right">Rs. @item.Total</strong>
                        </div>
                    }
                    if (@ViewBag.itemcart != null)
                    {
                      
                        <div class="col-md-12" style="padding-bottom:5px">

                            <ul style="list-style-type:none">

                                <li>
                                    <div style="float:left"> Total:</div>

                                    <span style="float:right">@ViewBag.itemcart</span>
                                </li>

                            </ul>
                        </div>

                        <div class="col-md-12" style="padding-bottom:5px;font-size:15px;color:#b12704">
                            <hr />
                            <strong  style="float:left">Order Total</strong>
                            <strong  style="float:right">Rs. @ViewBag.itemcart</strong>
                        </div>
                    }
                }

            </div>

        </div>
        <!-- //product right -->
    </div>
    <div class="container" style="padding-bottom:20px">



        <!-- //product left -->
        <!-- product right -->
        <div class="agileinfo-ads-display col-md-12 w3l-rightpro" style="font-size:11px;">
            Need help? Check our help pages or contact us 24x7

            When your order is placed, we'll send you an e-mail message acknowledging receipt of your order. If you choose to pay using an electronic payment method (credit card, debit card or net banking), you will be directed to your bank's website to complete your payment. Your contract to purchase an item will not be complete until we receive your electronic payment and dispatch your item. If you choose to pay using Pay on Delivery (POD), you can pay using cash/card/net banking when you receive your item.

            See Kadambari.com's Return Policy.

            Go to the Kadambari.com homepage without completing your order.
        </div>
  
        <!-- //product right -->
    </div>
</div>
<!-- //top products -->
<!-- popup modal (for signin & signup)-->
