@model EasyBilling.Models.Vehicle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vehicle_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle_make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle_make)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Token_number }) |
    @Html.ActionLink("Back to List", "Index")
</p>
