@model EasyBilling.Models.State

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>State</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.State_Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State_Identity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State_Identity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CGST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CGST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SGST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SGST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UTGST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UTGST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IGST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IGST)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
