@model EasyBilling.Models.State

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>State</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.State_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State_Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State_Identity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State_Identity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CGST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CGST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SGST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SGST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UTGST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UTGST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IGST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IGST)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.State_Code }) |
    @Html.ActionLink("Back to List", "Index")
</p>
